    <footer class="site-footer">
        <div>
            <a class="brand" href="/">{{ .Site.Name }}</a>
            <p>{{ t "footer.description" }}</p>
        </div>
        <div class="footer-links">
            <a href="/services">{{ t "nav.services" }}</a>
            <a href="/work">{{ t "nav.work" }}</a>
            <a href="/about">{{ t "nav.about" }}</a>
            <a href="/contact">{{ t "nav.contact" }}</a>
        </div>
        <p class="copyright">{{ t "footer.copyright" }}</p>
    </footer>
</body>
</html>
